body{
  margin: 0;
  padding: 0;
}
/* header start */
header{
  background-color: #121B2A;
  padding: 8px 0;
}
.wrapper{
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.wrapper1{
  width: 75%;
  margin: 0 auto;
  overflow: hidden;
}
.logo{
  width: 20%;
  float: left;
  padding: 10px 0;
}
.logo img{
  width: 100%;
}
.menu{
  width: 70%;
  float: right;
  margin-top: 30px;
}
.menu ul{
  float: right;
  
}
.menu ul li{
  list-style-type: none;
  float: left;
}
.menu ul li a{
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  font-family: Sans-Serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 7px;
  transition: .9s;
  
}
.menu ul li a:hover{
  color: #016EAD;
}
.menu ul li:last-child a{
  padding-right: 0;
}

/* header end */
/* banner start */
.banner{
  background-image: url(banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .5 black;
}
.b_content{
  width: 50%;
  margin-top: 200px;
  margin-bottom: 70px;
} 
.b_content h1{
  font-family: Sans-Serif;
  font-weight: 300;
  font-size: 30px;
  color: #FFFFFF;
  margin: 0;
} 
.b_content h2{
  font-family: Sans-Serif;
  font-size: 33px;
  color: #0167A3;
  margin: 0;
} 
.b_content p{
  font-family: Sans-Serif;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
  
} 
.b_content button{
  background-color: #FFFFFF;
  width: 150px;
  height: 35px;
  font-family: Sans-Serif;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  text-transform: uppercase;
  color: #111111;
  border: none;
  border-radius: 3px;
  margin-top: 25px;
  transition: .9s;
} 
.b_content button span{
  background-color: #0167A3;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 0 6px;
  margin-left: 8px;
} 
.b_content button:hover{
  color: #0167A3;
} 

/* banner end */
/* service start */
.service{
  background-color: #121B2C;
}
.single{
  width: 30%;
  float: left;
  padding: 0px 14px 20px;
  margin: 30px 0px 15px;
  border-right: 1px solid #FFFFFF;
}
.single:last-child{
  padding-right: 0;
  border-right: 0;
  
}
.top{
  overflow: hidden;
}
.t_img{
  width: 28%;
  float: left;
}
.t_img img{
  width: 100%;
}
.t_text{
  width: 60%;
  float: left;
  margin-top: 10px;
}
.t_text h2{
  font-family: Sans-Serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  margin: 0;
}
.t_text h3{
  font-family: Sans-Serif;
  font-size: 21px;
  color: #0074B7;
  margin: 0;
}
.bottom{
  margin-top: 20px;
}
.bottom p{
  font-family: Sans-Serif;
  color: white;
  line-height: 24px;
  margin: 0;
}
/* service end */
/* about start */
.about{
  background-color: #040811;
  padding: 10px 0;
  
}
.ab_content{
  width: 30%;
  float: left;
  padding: 20px 12px;
} 
.ab_content:last-child{
  padding-right: 0;
}
.ab_content h2{
  font-family: Sans-Serif;
  font-size: 18px;
  color: #FFFFFF;
  margin: 10px 0;
}
.ab_content span{
  color: #016AA7;
} 
.ab_content p{
  font-family: Sans-Serif;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  margin: 0;
} 
.ab_content p{}
/*apps start*/
.apps{
  width: 45%;
  float: left;
}
.apps img{
  width: 100%;
}
.info{
  width: 55%;
  float: right;
}
.info h2{
  color: #FFFFFF;
  margin-bottom: 5px;
  padding-bottom: 0;
}
.info img{
  width: 100%;
}
/*apps end*/
/* about end */
/* footer start */
footer{
  background-color: #121B2C;
 
}
.fast{
  width: 60%;
  float: left;
}
.footer_menu{}
.footer_menu ul{
  float: left;
  margin: 10px 0;
  padding: 0;
  
}
.footer_menu ul li{
  list-style-type: none;
  float: left;
}
.footer_menu ul li a{
  text-decoration: none;
  display: inline-block;
  font-family: Sans-Serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
  padding: 0 8px;
  border-right: 1px solid white;
  transition: .9s;
  
}
.footer_menu ul li:last-child a{
  border-right: none;
}
.footer_menu ul li a:hover{
  color: 016EAD;
}
.fast_content{
  padding: 0 10px;
} 
.fast_content p{
  font-family: Sans-Serif;
  font-size: 12px;
  color: white;
  margin: 0;
}
.last{
  width: 38%;
  float: right;
  overflow: hidden;
  margin: 10px 0px 30px;
}
.img1{
  width: 45%;
  float: left;
}
.img1 img{
  width: 100%;
}
.img2{
  width: 45%;
  float: right;
}
.img2 img{
  width: 100%;
}
/* footer end */